body {
    background-color: #F0F0F0; 
    margin: 0; 
    padding: 20px; 
}
.formulario-wrapper {
    background-color: #FFFFFF; 
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header-centralizado {
    text-align: center; 
    margin-bottom: 30px; 
}


.header-centralizado h1 {
    font-size: 2em; 
    color: #333; 
    margin-bottom: 10px;
}
.container-principal {
    display: flex; 
    max-width: 900px; 
    margin: 40px auto; 
    gap: 20px; 
    padding: 0 20px; 
}


.camp1, .camp2 {
    flex: 1; 

    
    background-color: #F0F0F0;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    
    margin: 0; 
}


@media (max-width: 768px) {
    .container-principal {
        flex-direction: column; 
        gap: 25px; 
    }
}


.campo {
    width: 100%;
    margin-bottom: 15px; 
}

.campo label {
    display: block; 
    font-weight: 600;
    margin-bottom: 5px;
}

.campo input, .camp1 select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


[style*="margin: 20px;"] {
    margin: 0 !important; 
}
.btn-du, .btn-voltar{
    text-align: center;
    margin-top: 20px;
}
.btn-enviar {
    background-color: #1976D2;      
    color: white;                   
    padding: 10px 28px;             
    border: none;                   
    border-radius: 6px;             
    cursor: pointer;                
    font-size: 13px;                
    font-weight: 600;               
    width: 20%;                    
    transition: 0.2s ease;          
}

.btn-enviar:hover {
    background-color: #1565C0;      
}

.bnt-f {
    text-align: center;   
    margin-top: 15px;     
}

.limpar-link {
    color: #1976D2;       
    cursor: pointer;      
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline; 
}

.limpar-link:hover {
    color: #0D47A1;       
}
/* ESTILO GERAL PARA CAMPOS DE ENTRADA */
.campo input[type="text"],
.campo input[type="number"],
.campo input[type="email"],
.campo select {
    border: 1px solid #ccc; /* Borda padrão */
    transition: border-color 0.3s;
}

/* No seu form.css */
input:invalid,
select:invalid {
    border-color: red !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input:valid:not(:placeholder-shown),
select:valid {
    border-color: green !important;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}



