@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: #0f172a !important; 
  opacity: 0.75;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #0f172a !important;
  opacity: 1;
}

@font-face {
  font-family: 'ConventionFont';
  src: url('./assets/fonts/ConventionFont.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

